
@media only screen and (max-width: 1050px){
    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-in-out;
        height: 50vh;
    }
    
    .menu{
        flex-direction: column;
        
    }
    
    .logo{
        margin-top: 3%;
    }
    
    .burger{
        display: block;
        
    }
    
    .height-nav{
        height: 10vh;

    }
    .visibility-nav{
        opacity: 0;
    }

    #home-section{
        height: 100vh;
        background: rgba(0, 0, 0, 0.7) url('../images/home-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-blend-mode: darken;
    }
    
    .home{
        max-width: 100%;
        font-size: 1.5rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
    }

    .name{
        margin-top: 5%;
    }

    .changeText::after{
        font-size: 1.5rem;
    }

  

    .home-btns a{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        margin: 5%;
        font-size: 1rem;
    }

    #about-section{
        height: 130vh;
        width: 100%;
    }
    
    .about{
        display: flex;
        flex-direction: column;
        height: 120vh;
    }

    .profile img{
        height: 30vh;
        width: 60%;
        margin-top: 5%;
    }

    .about-text{
        height: 100vh;
        align-items: center;
        text-align: justify;
    }


    #services-section{
        width: 100%;
        height: 180vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .services{
        width: 100%;
        height: 180vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .box{
        width: 75vw;
        margin: 2px 2px;
    }
    .box img{
        width: 70%;
    }

    #box1, #box2, #box3, #box4{
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
        position: absolute;
        top: 10%;
        z-index: -1;
    }
    
    #box1{
        animation-name: box1-animation;
        top: 2%;
        left: 10%;
    }
    
    @keyframes box1-animation{
        from{
            left: 0;
        }
        to{
            left: 10%;
        }
    }
    
    #box2{
        animation-name: box2-animation;
        left: 10%;
        top: 27%;
    }
    
    @keyframes box2-animation{
        from{
            left: 0%;
            top: 27%;
        }
        to{
            left: 10%;
        }
    }
    #box3{
        animation-name: box3-animation;
        left: 10%;
        top: 52%;
    }
    
    @keyframes box3-animation{
        from{
            left: 0%;
            top: 52%;
        }
        to{
            left: 10%;
        }
    }
    #box4{
        animation-name: box4-animation;
        left: 10%;
        top: 77%;
    }
    
    @keyframes box4-animation{
        from{
            left: 0%;
            top: 77%;
        }
        to{
           left: 10%;
        }
    }

    #skills-section{
        margin-top: 20%;
        height: 70vh;
    }

    .skills-div{
        width: 100%;
        margin-left: 2%;
    }

    #projects-section{
        height: 180vh;
    }
    .projects{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 160vh;
    }

    .cards{
        display: flex;
        width: 100%;
        margin: 4%;
        justify-content: space-between;
        align-items: center;
    }

    .cards a{
        margin-top: 3%;
    }

    #contacts-section{
    height: 120vh;
    background: url('../images/contact-us.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }

    .contacts{
    display: flex;
    flex-direction: column;
    height: 100vh;
    }

    .contact-form{
        max-width: 100%;
        height: 100vh;
        width: 80%;
        margin-top: 10%;
    }

    .contact-form input{
        width: 100%;
    }
    .contact-form textarea{
        width: 100%;
    }
    .btn-submit{
        width: 100%;
        height: 8vh;
    }

    .contact-my-details{
        margin-top: 10%;
    }


    footer{
        height: 20vh;
    }

    .icons{
        margin-top: 10%;
    }

}
